@use './globalStyles/reset.scss';
@use './globalStyles/variaveis.scss';
@use './secoesSite/home.scss';
@use './secoesSite/sobreMim.scss';
@use './secoesSite/skills.scss';
@use './secoesSite/projetos.scss';
@use './secoesSite/footer.scss';

body {
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corDoTexto;
}

header {
    padding: 8px;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid variaveis.$corDoTexto;
    z-index: 2;

    .nav-link {
        color: variaveis.$corDoTexto;
        
        &:hover {
            color: variaveis.$corSecundaria;
        }

    }

    .container-menu {
        padding: 0 48px;
        margin-bottom: 16px;
        display: none;
    }

    @media screen and (max-width: 767px) {
        .navbar-collapse {
            padding: 0 48px;
        }

        .container-menu {
            display: block;
        }
    }
}

section {
    padding-left: 3em;
    padding-right: 3em;

    @media screen and (max-width: 767px) {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.container_button {
    display: none;
    position: fixed; 
    bottom: 40px;
    right: 90px;

    @media screen and (max-width: 767px) {
        right: 20px;
    }

    &_visivel {
        display: block;
    }

    a {
        padding: 16px;
        text-decoration: none;
        border-radius: 50%;
        border: 2px solid variaveis.$corDoTexto;
        color: variaveis.$corDoTexto;
        cursor: pointer;

        i {
            font-size: 24px;
            font-weight: bold;
        }

        &:hover {
            transition: background-color .3s ease-in-out;
            background-color: variaveis.$corDoTexto;
            color: variaveis.$corDeFundo;
        }
    }
}

/*Codigo reutilizaveis*/

.titulo_secao {
    font-size: 32px;
}

.sub_titulo {
    font-size: 24px;
    font-weight: normal;
}

.texto-pequeno {
    font-size: 14px;
}

.cont_img_text {
    // margin-bottom: 8em;
    padding: 8px;
    display: block;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid variaveis.$corDoTexto;
}